
.strategies-wrap a {
  display: block;
}


/**
 *  Visual Styles
 */

.return-boost-app {
  background: #FFF;
}

.box-tab .tab-content {
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.box-tab .nav-tabs li.active a, .box-tab .nav-tabs li.active a:hover {
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 0;
}
