
.strategies-wrap a {
  display: block;
}
.nav-steps-list {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}
.nav-step {
  display: table-cell;
  text-align: center;
  line-height: 3em;
}
.step-num {
  display: inline-block;
}
.step-name {
  display: block;
}
.nav-step .step-num {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
}
.step-nav-container {

}
.nav-progress {
  margin: 25px 12.5% 0 12.5%;

}

/**
 *  Visual Styles
 */

.return-boost-app {
  background: #FFF;
}

.box-tab .tab-content {
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.box-tab .nav-tabs li.active a, .box-tab .nav-tabs li.active a:hover {
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 0;
}

.nav-step .step-num {
  border: 1px solid blue;
  font-size: 20px;
  color: blue;
}
.nav-step.active .step-num {
  background: blue;
  color: #FFF;
}
