@import "return-boost";


.return-boost-app {
  background: #FFF;
}

.box-tab .tab-content {
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.box-tab .nav-tabs li.active a, .box-tab .nav-tabs li.active a:hover {
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 0;
}

.nav-step .step-num {
  border: 2px solid @brand-primary;
  font-size: 20px;
  color: @brand-primary;
}
.nav-step.active .step-num {
  background: @brand-primary;
  color: #FFF;
}
.nav-step.disabled a {
  border-color: @progress-bg;
  color: @progress-bg;
}
.step-name {
  color: @brand-primary;
}
