@import "theme/less/urban";

header {
  height: 50px;
}

.asset-classes {
  display: block;
}
.nav-steps-list {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}
.nav-step {
  display: table-cell;
  text-align: center;
  line-height: 3em;
}
.step-num {
  display: inline-block;
}
.step-name {
  display: block;
  margin-top: 10px;
  line-height: 17px;
}
.nav-step .step-num {
  width: 50px;
  height: 50px;
  line-height: 48px;
  border-radius: 50px;
  background: #FFF;
  transition: all .3s ease;
}
.nav-step.active .step-num {
  transition: all .3s ease;
}
.step-name {
  opacity: 0;
  transition: all .6s ease;
}
.nav-step.active .step-name {
  opacity: 1;
}
.step-nav-container {
  position: relative;
  margin-bottom: 35px;
}
.nav-progress {
  margin: 23px 12.5% 0 12.5%;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 72%;
}

.modal-backdrop {
  display: none !important;
}

.account-form .buttons button {
  min-width: 115px;
}
.table-portfolios .progress {
  height: 8px;
}
.progress-tick {
  float: left;
}
.progress-tick + .progress {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 35px;
}

.txtc-success  {
  color: @brand-success;
}
.txtc-primary  {
  color: @brand-primary;
}
.txtc-info  {
  color: @brand-info;
}
.txtc-danger  {
  color: @brand-danger;
}

.txtc-warning  {
  color: @brand-warning;
}

.nav-step.disabled .step-num {
  cursor: default;
}
.nav-step.disabled .step-num span {
  cursor: text;
}
.asset-class {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.va-middle {
  display: flex;
  align-items: center;
}
.switcher.just-switched:before {
  opacity: 0;
}
.panel-heading {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (max-width: @screen-xs-max) {
  .heading-title {
    font-size: 22px;
  }
  .va-middle {
    display: block;
  }
  .no-more-tables table {
    tfoot {
      display: block;
    }

    td[class*="col-"], th[class*="col-"] {
      display: block;
      position: relative;
    }

  }
}
@media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .no-more-tables {
    td, th {
      font-size: 11px;
    }
  }
}
