

<div class="row">
  <div class="col-lg-1 hidden-md"></div>
  <div class="col-lg-10 col-md-12">
    <div class="panel mb25">
      <div class="panel-heading ">
        <div class="col-lg-12 heading-title">Select Asset Classes you want to invest in</div>
      </div>

      <div class="panel-body">
        <div class="asset-classes-wrap">
          <div class="col-sm-3" ng-repeat="assetClass in assetClasses track by assetClass.id">
            <a class="asset-class btn-lg" switcher="primary" is-switched="arrayIndexOf(selectedAssetClasses, assetClass) > -1" on-switch="toggleAssetClass(assetClass)" ng-bind="assetClass.name"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel" ng-show="(strategies | hasAssetClass : selectedAssetClasses).length > 0">
      <div class="panel-heading ">
        <div class="col-lg-12 heading-title">Select Portfolio you want to compare</div>
      </div>
      <div class="panel-body">
        <div class="col-lg-12">
          <div class="strategies-wrap no-more-tables">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th class="col-sm-2"><a ng-click="orderStrategy('risk')">RISK <i class="fa" ng-class="stReverse ? 'fa-caret-down' : 'fa-caret-up'" ng-show="stOrder === 'risk'"></i></a></th>
                  <th class="col-sm-2"><a ng-click="orderStrategy('name')">NAME <i class="fa" ng-class="stReverse ? 'fa-caret-up' : 'fa-caret-down'" ng-show="stOrder === 'name'"></i></a></th>
                  <th class="col-sm-2"><a ng-click="orderStrategy('description')">STRATEGY <i class="fa" ng-class="stReverse ? 'fa-caret-up' : 'fa-caret-down'" ng-show="stOrder === 'description'"></i></a></th>
                  <th><a ng-click="orderStrategy('performance')">YTD <i class="fa" ng-class="stReverse ? 'fa-caret-up' : 'fa-caret-down'" ng-show="stOrder === 'performance'"></i></a></th>
                  <th><a ng-click="orderStrategy('cagr')">CAGR <i class="fa" ng-class="stReverse ? 'fa-caret-up' : 'fa-caret-down'" ng-show="stOrder === 'cagr'"></i></a></th>
                  <th><a ng-click="orderStrategy('std_dev')">StdDev <i class="fa" ng-class="stReverse ? 'fa-caret-up' : 'fa-caret-down'" ng-show="stOrder === 'std_dev'"></i></a></th>
                  <th><a ng-click="orderStrategy('assets')"># Assets <i class="fa" ng-class="stReverse ? 'fa-caret-up' : 'fa-caret-down'" ng-show="stOrder === 'assets'"></i></a></th>
                  <th><a>Compare</a></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="strategy in strategies | hasAssetClass : selectedAssetClasses | strategyOrderBy: stOrder : stReverse">
                  <td data-title="RISK"><risk-icon risk="{{strategy.risk}}"></risk-icon></td>
                  <td data-title="NAME" ng-bind="strategy.name"></td>
                  <td data-title="STRATEGY" ng-bind="strategy.description"></td>
                  <td data-title="YTD" ng-bind="strategy.performance * 100 + '%'"></td>
                  <td data-title="CAGR" ng-bind="strategy.cagr * 100 + '%'"></td>
                  <td data-title="StdDev" ng-bind="strategy.std_dev * 100 + '%'"></td>
                  <td data-title="# Assets" ng-bind="strategy.assets"></td>
                  <td data-title="Compare">
                    <label class="cb-checkbox" ng-class="{checked: arrayIndexOf($parent.selectedStrategies, strategy) > -1}"><span class="cb-inner"><i><input type="checkbox" ng-change="toggleStrategy(strategy)" ng-chacked="arrayIndexOf($parent.selectedStrategies, strategy)" ng-model="fake"></i></span></label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-body">
        <div class="buttons">
          <div class="col-lg-12">
            <div class="text-right">
              <a class="btn btn-success ml20" ng-disabled="!next" ng-click="goNext()">Next<i class="fa fa-caret-right ml10"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1 hidden-md"></div>
</div>
